<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Forex</title>
	<link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
	<style>
		.error{
			color:red;
		}
	</style>
</head>
<body>
	<div class="container" style="margin-top: 20px;">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">Forex rate</div>
						<div class="panel-body">
							<div th:if="${invalidFileType}" class="alert alert-danger">
								<p>Invalid file. Please select a valid CSV file</p>
							</div>
							<div th:if="${fileUploadSuccessful}" class="alert alert-success">
								<p>File successfully uploaded</p>
							</div>
							<div th:if="${fileExists}" class="alert alert-warning">
								<p>This file already exists. Please chose a different file</p>
							</div>
		
							<div th:if="${invalidFileSize}" class="alert alert-danger">
								<p>File size exceeds the upload limit</p>
							</div>
		
							<form id="fileUpload" th:action="@{/forex/upload}" th:method="post" enctype="multipart/form-data" >
								<div class="form-group">
									<label>Maximum upload size: 5MB, *.csv format only</label>
									<input type="file" id="fileName" name="fileName" class="required error" aria-required="true" />
								</div>
								<div class="form-group">
									<button type="submit" class="form-control btn btn-info">Upload</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<a th:href="@{/forex/search}">Search Records</a>
			</div>
		</div>
	</div>
	
</body>
<script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/additional-methods.min.js}"></script>
<script th:src="@{/js/site.js}"></script>

</html>