<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Search Result</title>
<link
	th:href="@{//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css}"
	rel="stylesheet" />
<link
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="container" style="margin-top: 20px;">
		<div class="row">
			<div class="col-sm-4">
				<a th:href="@{/}">Home</a>
			</div>
			<div class="col-sm-4">
				<h4>Accumulative Valid Deals</h4>
				<div th:each="deal: ${dealCount}">
					<span th:text="${deal.fromCurrencyIsoCode}"></span>:&nbsp;<span th:text="${deal.countOfDeal}"></span>
				</div>
			</div>
			<div class="col-sm-4">
				<p>Total Deals: <span th:text="${totalDealCount}"></span></p>
				<p>Total Valid Deal spread amount: <span th:text="${validDealAmount}"></span></p>
				<p>Total Valid Deal From amount: <span th:text="${validFromAmount}"></span></p>
				<p>Total Valid Deal To amount: <span th:text="${validToAmount}"></span></p>
			</div>
		</div>
		<h3 style="margin-bottom: 40px;">Enter file name and select deal type. Table will be populated with the deal you selected</h3>
		<div class="row">
			<div class="col-sm-6">
			<form action="/forex/search/data" method="post" class="form-inline" id="search-form">
				<div class="form-group">
					<label data-valid="valid data label" for="name">File Name:</label> 
					<input type="text" name="filename" id="filename" class="form-control" />
				</div>
				<div class="form-group">
					<select id="select-type" name="select-type">
						<option data-type="validData" value="validData">Valid Data</option>
						<option data-type="invalidData" value="invalidData" selected="selected">Invalid Data</option>
					</select>
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>
			</div>
			
		</div>
		
		<hr/>
		
		<div class="row">
			<div class="panel-group">
    			<div class="panel panel-default">
      				<div class="panel-heading">Valid Deals</div>
      				<div class="panel-body">
						<div class="table-responsive">
							<table id="validTable" class="table">
								<thead>
									<tr>
										<th>Time stamp</th>
										<th>From Currency</th>
										<th>To Currency</th>
										<th>From Currency Amount</th>
										<th>To Currency Amount</th>
										<th>Spread</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Time stamp</th>
										<th>From Currency</th>
										<th>To Currency</th>
										<th>From Currency Amount</th>
										<th>To Currency Amount</th>
										<th>Spread</th>
									</tr>
			
								</tfoot>
							</table>
						</div>
					</div>
    			</div>
    		</div>
		</div>
		
		<div class="row">
			<div class="panel-group">
    			<div class="panel panel-default">
      				<div class="panel-heading">Invalid Deals</div>
      				<div class="panel-body">
						<div class="table-responsive">
							<table id="invalidTable" class="table">
								<thead>
									<tr>
										<th>Time stamp</th>
										<th>From Currency</th>
										<th>To Currency</th>
										<th>From Currency Amount</th>
										<th>To Currency Amount</th>
										<th>Spread</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Time stamp</th>
										<th>From Currency</th>
										<th>To Currency</th>
										<th>From Currency Amount</th>
										<th>To Currency Amount</th>
										<th>Spread</th>
									</tr>
			
								</tfoot>
							</table>
						</div>
					</div>
    			</div>
    		</div>
		</div>
	</div>
	
</body>
	<script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
	<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{https://cdn.datatables.net/scroller/1.4.2/js/dataTables.scroller.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('.table').DataTable();
		});
	</script>
	<script type="text/javascript">
    	var form = $('#search-form');
     	var selectedData;
      
	    form.submit(function (e) {
	    	selectedData = document.querySelector('#select-type').value;
	    	
	
	        e.preventDefault();
	            
	        $.ajax({
	            type: form.attr('method'),
	            url: form.attr('action'),
	            data: form.serialize(),
	            success: function (data) {
	            console.log('Submission was successful.');
	        	alert("Loading data. Please wait...");        
	            if(selectedData=="validData"){
	        	$("#validTable").empty();
	               var validTable = $('#validTable').DataTable({
	                	"iDisplayLength": 10,
	                	"aLengthMenu": 
	                		[
	                			[5, 10, 20, 25, 50, -1],
								[5, 10, 20, 25, 50, "All"]
	                		],
	                		"aaData": data,
	                	"bProcessing": true,
	                	"sAjaxDataProp": "",
	                	"order": [[ 0, "asc" ]],
	                	"ordering": false,
	    	   			"aoColumns": [
	    	   			    { "data": "timeStamp"},
	    	   		      	{ "data": "fromCurrencyISOCode" },
	    	   				{ "data": "toCurrencyISOCode" },
	    	   				{ "data": "fromCurrencyISOCodeAmount" },
	    	   				{ "data": "toCurrencyISOCodeAmount" },
	    	   				{ "data": "amount" }
	    	   			]	,
	    	   				
	    	   			   "bDestroy": true
	    	   		});
	              
	            }else{
	            	$("#invalidTable").empty();
	                var invalidTable = $('#invalidTable').DataTable({
	                	"iDisplayLength": 10,
	                	"aLengthMenu": 
	                		[
	                			[5, 10, 20, 25, 50, -1],
								[5, 10, 20, 25, 50, "All"]
	                		],
	                		"aaData": data,
	                	"bProcessing": true,
	                	"sAjaxDataProp": "",
	                	"order": [[ 0, "asc" ]],
	                	"ordering": false,
	    	   			"aoColumns": [
	    	   			    { "data": "timeStamp"},
	    	   		      	{ "data": "fromCurrencyISOCode" },
	    	   				{ "data": "toCurrencyISOCode" },
	    	   				{ "data": "fromCurrencyISOCodeAmount" },
	    	   				{ "data": "toCurrencyISOCodeAmount" },
	    	   				{ "data": "amount" }
	    	   			]	,
	    	   			"bDestroy": true
	    	   		});
	                
	               }
	            },
	                
	            error: function (data) {
	                console.log('An error occurred.');
	                console.log(data);
	            },
	        });
	    });
	    
    </script>

	
</html>